<!-- wp:template-part {"slug":"header","theme":"neve-fse","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:pattern {"slug":"neve-fse/layout/page-cover-with-buttons"} /-->

    <!-- wp:pattern {"slug":"neve-fse/layout/columns-with-icons"} /-->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"64px"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:64px;padding-bottom:64px"><!-- wp:post-content /--></div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"neve-fse/layout/columns-image-and-text"} /-->

    <!-- wp:pattern {"slug":"neve-fse/layout/columns-text-image"} /-->

    <!-- wp:pattern {"slug":"neve-fse/layout/columns-image-and-text-inv"} /-->

    <!-- wp:pattern {"slug":"neve-fse/layout/portfolio-columns"} /-->

    <!-- wp:pattern {"slug":"neve-fse/layout/columns-testimonials"} /-->

    <!-- wp:pattern {"slug":"neve-fse/layout/cta-dark"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"neve-fse","tagName":"footer"} /-->